body{
    background-color: rgb(243, 242, 239);
    color: rgb(2, 2, 2);
}
.imagebanner img{
    display: block;
    max-width: 100%;
}
footer {
    position: bottom;
    margin-bottom: 50px ;
}
.red{
    background-color: brown;
}
.col-6, .col-2, .col-2sh{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(56, 56, 56);
    font-size: 20px;
}
h2{
    color: rgb(145, 17, 236);
    
}
h1{
    color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    
    
    
}